.page-layout {
  min-height: 100vh;
  max-width: min(100vw, 1000px);
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-areas:
    "header nav--main"
    "header nav--sub"
    "main main"
    "footer footer";
}

@media screen and (max-width: 750px) {
  .page-layout {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content 1fr min-content;
    grid-template-areas:
      "header"
      "nav--main"
      "nav--sub"
      "main"
      "footer";
  }
}

header {
  grid-area: header;
}

.nav--main {
  grid-area: nav--main;
}

.nav--sub {
  grid-area: nav--sub;
  align-self: end;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}
