
<svg width="315" height="77" viewBox="0 0 315 77" xmlns="http://www.w3.org/2000/svg">

  <text x="5" y="14" class="logo--divezone-prefix">THE</text>
  <text x="0" y="60" class="logo--divezone-part1">DIVE</text>
  <text x="152" y="60" class="logo--divezone-part2">ZONE</text>
  <text x="154" y="75" class="logo--divezone-suffix" textLength="155">COMPANY</text>

  <g transform="translate(148, 55)">
    <circle cx="0" cy="0" r="10" class="bubble" />
    <circle cx="-3" cy="-3" r="3" class="bubble-highlight" />
    
    <circle cx="5" cy="-20" r="6" class="bubble" />
    <circle cx="3" cy="-22" r="2" class="bubble-highlight" />
    
    <circle cx="-2" cy="-33" r="4" class="bubble" />
    <circle cx="-3" cy="-34" r="1.5" class="bubble-highlight" />
    
    <circle cx="4" cy="-42" r="2.5" class="bubble" />
  </g>

</svg>
