
<svg width="320" height="77" viewBox="0 0 320 77" xmlns="http://www.w3.org/2000/svg">

  <!-- Text: DEV -->
  <text x="5" y="60" class="logo--devzone-part1">DEV</text>

  <!-- Bubble Cluster representing the "." -->
  <g transform="translate(140, 55)">
    <text x="-7" y="+10" class="logo--devzone-number" style="font-size: 26px;">0</text>
    <text x="0" y="-14" class="logo--devzone-number" style="font-size: 16px;">1</text>
    <text x="-5" y="-28" class="logo--devzone-number" style="font-size: 12px;">0</text>
    <text x="2" y="-40" class="logo--devzone-number" style="font-size: 8px;">1</text>
  </g>

  <!-- Text: ZONE -->
  <text x="150" y="60" class="logo--devzone-part2">ZONE</text>

    <!-- Text: THE -->
  <text x="152" y="75" class="logo--devzone-suffix" textLength="155">
    SOLUTIONS
  </text>

</svg>